<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :pseudo, style: "display: block" %>
    <%= form.text_field :pseudo %>
  </div>

  <div>
    <%= form.label :first_name, style: "display: block" %>
    <%= form.text_field :first_name %>
  </div>

  <div>
    <%= form.label :last_name, style: "display: block" %>
    <%= form.text_field :last_name %>
  </div>

  <div>
    <%= form.label :job, style: "display: block" %>
    <%= form.text_field :job %>
  </div>

<div>
  <div>
    <%= form.label :eyes, style: "display: block" %>
    <%= image_tag ("https://www.notion.so/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2Fe5cea834-910d-4f45-b1d3-b3be203deeb8%2FFichier_18.svg?table=block&id=1ef37f47-8105-496a-bd07-a2fde8975e3f&spaceId=deeab681-aecb-435e-abd2-ca389448f1fa&userId=3c9e31d2-2b5d-4834-aa7e-fdc1021f5064&cache=v2"), :size => '220x220' %>
    <%= image_tag ("https://www.notion.so/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2Fe5cea834-910d-4f45-b1d3-b3be203deeb8%2FFichier_18.svg?table=block&id=1ef37f47-8105-496a-bd07-a2fde8975e3f&spaceId=deeab681-aecb-435e-abd2-ca389448f1fa&userId=3c9e31d2-2b5d-4834-aa7e-fdc1021f5064&cache=v2"), :size => '220x220' %>
    <%= image_tag ("https://www.notion.so/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2Fe5cea834-910d-4f45-b1d3-b3be203deeb8%2FFichier_18.svg?table=block&id=1ef37f47-8105-496a-bd07-a2fde8975e3f&spaceId=deeab681-aecb-435e-abd2-ca389448f1fa&userId=3c9e31d2-2b5d-4834-aa7e-fdc1021f5064&cache=v2"), :size => '220x220' %>
  </div>

  <div></div>_tag ("https://www.notion.so/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2Fe5cea834-910d-4f45-b1d3-b3be203deeb8%2FFichier_18.svg?table=block&id=1ef37f47-8105-496a-bd07-a2fde8975e3f&spaceId=deeab681-aecb-435e-abd2-ca389448f1fa&userId=3c9e31d2-2b5d-4834-aa7e-fdc1021f5064&cache=v2"), :size => '220x220' %>
    <%= image_tag ("https://www.notion.so/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2Fe5cea834-910d-4f45-b1d3-b3be203deeb8%2FFichier_18.svg?table=block&id=1ef37f47-8105-496a-bd07-a2fde8975e3f&spaceId=deeab681-aecb-435e-abd2-ca389448f1fa&userId=3c9e31d2-2b5d-4834-aa7e-fdc1021f5064&cache=v2"), :size => '220x220' %>
    <%= image_tag ("https://www.notion.so/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2Fe5cea834-910d-4f45-b1d3-b3be203deeb8%2FFichier_18.svg?table=block&id=1ef37f47-8105-496a-bd07-a2fde8975e3f&spaceId=deeab681-aecb-435e-abd2-ca389448f1fa&userId=3c9e31d2-2b5d-4834-aa7e-fdc1021f5064&cache=v2"), :size => '220x220' %>
 </div>

  <div>
    <%= form.label :top, style: "display: block" %>
    <%= image_tag ("https://www.notion.so/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2Fe5cea834-910d-4f45-b1d3-b3be203deeb8%2FFichier_18.svg?table=block&id=1ef37f47-8105-496a-bd07-a2fde8975e3f&spaceId=deeab681-aecb-435e-abd2-ca389448f1fa&userId=3c9e31d2-2b5d-4834-aa7e-fdc1021f5064&cache=v2"), :size => '220x220' %>
    <%= image_tag ("https://www.notion.so/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2Fe5cea834-910d-4f45-b1d3-b3be203deeb8%2FFichier_18.svg?table=block&id=1ef37f47-8105-496a-bd07-a2fde8975e3f&spaceId=deeab681-aecb-435e-abd2-ca389448f1fa&userId=3c9e31d2-2b5d-4834-aa7e-fdc1021f5064&cache=v2"), :size => '220x220' %>
    <%= image_tag ("https://www.notion.so/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2Fe5cea834-910d-4f45-b1d3-b3be203deeb8%2FFichier_18.svg?table=block&id=1ef37f47-8105-496a-bd07-a2fde8975e3f&spaceId=deeab681-aecb-435e-abd2-ca389448f1fa&userId=3c9e31d2-2b5d-4834-aa7e-fdc1021f5064&cache=v2"), :size => '220x220' %>
  </div>

  <div>
    <%= form.label :bottom, style: "display: block" %>
    <%= image_tag ("https://www.notion.so/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2Fe5cea834-910d-4f45-b1d3-b3be203deeb8%2FFichier_18.svg?table=block&id=1ef37f47-8105-496a-bd07-a2fde8975e3f&spaceId=deeab681-aecb-435e-abd2-ca389448f1fa&userId=3c9e31d2-2b5d-4834-aa7e-fdc1021f5064&cache=v2"), :size => '220x220' %>
    <%= image_tag ("https://www.notion.so/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2Fe5cea834-910d-4f45-b1d3-b3be203deeb8%2FFichier_18.svg?table=block&id=1ef37f47-8105-496a-bd07-a2fde8975e3f&spaceId=deeab681-aecb-435e-abd2-ca389448f1fa&userId=3c9e31d2-2b5d-4834-aa7e-fdc1021f5064&cache=v2"), :size => '220x220' %>
    <%= image_tag ("https://www.notion.so/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2Fe5cea834-910d-4f45-b1d3-b3be203deeb8%2FFichier_18.svg?table=block&id=1ef37f47-8105-496a-bd07-a2fde8975e3f&spaceId=deeab681-aecb-435e-abd2-ca389448f1fa&userId=3c9e31d2-2b5d-4834-aa7e-fdc1021f5064&cache=v2"), :size => '220x220' %>
  </div>
</div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
