<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :pseudo, style: "display: block" %>
    <%= form.text_field :pseudo %>
  </div>

  <div>
    <%= form.label :first_name, style: "display: block" %>
    <%= form.text_field :first_name %>
  </div>

   <div>
    <%= form.label :last_name, style: "display: block" %>
    <%= form.text_field :last_name %>
  </div>

  <div>
    <%= form.label :job, style: "display: block" %>
    <%= form.text_field :job %>
  </div>

<div>

  <div>
    <%= form.label :eyes, style: "display: block" %>
    <%= form.text_field :eyes, type: "hidden" %>
    <%= image_tag 'eye_1.svg', :size => '61x48', 'data-id':'0', class:"interactif"  %>
    <%= image_tag 'eye_2.svg', :size => '61x48', 'data-id':'1', class:"interactif"   %>
    <%= image_tag 'eye_3.svg', :size => '61x48', 'data-id':'2', class:"interactif"   %>
    <!-- CODE JAVASCRIPT -->
    <script>
      const eye1 = document.querySelector("img[data-id='0']");
      /* J'assigne à une variable "eye1" avec une methode "querySelector" permettant de récupérer l'attribut "data-id" de mon image "img" */
      const eye2 = document.querySelector("img[data-id='1']");
      const eye3 = document.querySelector("img[data-id='2']");
      eye1.onclick = changeEyes;
      eye2.onclick = changeEyes;
      eye3.onclick = changeEyes;

        function changeEyes(event)
        {
          const eyeinput = document.getElementById("user_eyes")
          /* J'assigne à une variable "eye1" avec une methode "getElementById" permettant de récupérer l'identifiant uniquement de mon élément*/
          eyeinput.value = event.target.dataset.id;
          /* avec la méthode ".value", j'écris avec la fonction dans target (le lieu où est mon image) le data-id de mon image*/
        }
    </script>
  </div>

  <div class="section_hair">
    <%= form.label :hair %>
    <%= form.text_field :hair, style:"width: 150px" %>
    <div class="item_hair">
      <%= image_tag 'hair_1.svg', :size => '71x58', 'data-id':'0', class:"interactif "  %>
      <%= image_tag 'hair_2.svg', :size => '71x58', 'data-id':'1', class:"interactif "  %>
      <%= image_tag 'hair_3.svg', :size => '71x58', 'data-id':'2', class:"interactif "  %>
    </div>


    <!-- CODE JAVASCRIPT -->
    <script>
      const hair1 = document.querySelector(".section_hair .item_hair img[data-id='0']");
      const hair2 = document.querySelector(".section_hair .item_hair img[data-id='1']");
      const hair3 = document.querySelector(".section_hair .item_hair img[data-id='2']");
      hair1.onclick = changeHair;
      hair2.onclick = changeHair;
      hair3.onclick = changeHair;

      function changeHair(event)
        {
          const hairinput = document.getElementById("user_hair")
          hairinput.value = event.target.dataset.id
          hairinput = true;
          console.log(hairinput)
        }

        hair1.addEventListener('click', function () {
          hair1.classList.add("target");
          hair2.classList.remove("target");
          hair3.classList.remove("target");
        })

        hair2.addEventListener('click', function () {
          hair2.classList.add("target");
          hair1.classList.remove("target");
          hair3.classList.remove("target");
        })

        hair3.addEventListener('click', function () {
          hair3.classList.add("target");
          hair2.classList.remove("target");
          hair1.classList.remove("target");
        })

    </script>
  </div>

  <div>
    <%= form.label :top, style: "display: block" %>
    <%= form.text_field :top, type: "hidden" %>
    <%= image_tag 'top_1.svg', :size => '61x48', 'data-id':'6', class:"interactif"  %>
    <%= image_tag 'top_2.svg', :size => '61x48', 'data-id':'7', class:"interactif"  %>
    <%= image_tag 'top_3.svg', :size => '61x48', 'data-id':'8', class:"interactif"  %>
    <!-- CODE JAVASCRIPT -->

    <script>
      const top1 = document.querySelector("img[data-id='6']");
      const top2 = document.querySelector("img[data-id='7']");
      const top3 = document.querySelector("img[data-id='8']");
      top1.onclick = changeTop;
      top2.onclick = changeTop;
      top3.onclick = changeTop;

        function changeTop(event)
        {
          const topinput = document.getElementById("user_top")
          topinput.value = event.target.dataset.id
        }
    </script>
  </div>

  <div>
    <%= form.label :bottom, style: "display: block" %>
    <%= form.text_field :bottom, type: "hidden" %>
    <%= image_tag 'bottom_1.svg', :size => '61x48', 'data-id':'9', class:"interactif"  %>
    <%= image_tag 'bottom_2.svg', :size => '61x48', 'data-id':'10', class:"interactif"  %>
    <%= image_tag 'bottom_3.svg', :size => '61x48', 'data-id':'11', class:"interactif"  %>
    <!-- CODE JAVASCRIPT -->
    <script>
      const bottom1 = document.querySelector("img[data-id='9']");
      const bottom2 = document.querySelector("img[data-id='10']");
      const bottom3 = document.querySelector("img[data-id='11']");
      bottom1.onclick = changeBottom;
      bottom2.onclick = changeBottom;
      bottom3.onclick = changeBottom;

        function changeBottom(event)
        {
          const bottominput = document.getElementById("user_bottom")
          bottominput.value = event.target.dataset.id
        }
    </script>
  </div>
</div>


  <div>
    <%= form.submit %>
  </div>
<% end %>
