<div id="<%= dom_id user %>">
  <p>
    <strong>Pseudo:</strong>
    <%= user.pseudo %>
  </p>

  <p>
    <strong>First name:</strong>
    <%= user.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= user.last_name %>
  </p>

  <p>
    <strong>Job:</strong>
    <%= user.job %>
  </p>

  <p>
    <strong>Eyes:</strong>
    <%= user.eyes %>
  </p>

  <p>
    <strong>Hair:</strong>
    <%= user.hair %>
  </p>

  <p>
    <strong>Top:</strong>
    <%= user.top %>
  </p>

  <p>
    <strong>Bottom:</strong>
    <%= user.bottom %>
  </p>

</div>
