<p style="color: green"><%= notice %></p>

<h1>Tuumpupa collection's</h1>

<div id="users" class="">
  <% @users.each do |user| %>
    <%= render user %>
    <p>
      <%= link_to "Modifier son tuumpupa", user %>
    </p>
  <% end %>
</div>

<%= link_to "New user", new_user_path %>

<%= link_to "Quit", root_path %>
